body{
    background-image: linear-gradient(to right, rgb(13, 12, 88), rgb(39, 102, 14));
}
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    text-align: center;
    margin: 50px;
}
table{
    margin: auto;
}
input{
    border: 3px solid rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    width: 235px;
    border-radius: 14px;
    margin: 2px;

}
button{
    font-size: 20px;
    background-color: #3a3945;
    color: white;
    height: 48px;
    width: 58px;
    border-radius: 14px;
    margin: 2px;
    border-color: white;
}
.calculator{
     background-color: #81776f;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}